@import "assets/scss/_include-media-lib/include-media";

.auth__left {
    padding: 5rem;
    @include media("<=large-screen") {
        padding: 5rem 4rem;
    }
    @include media("<=small-screen") {
        padding: 3rem 2rem;
    }
}

#socialConnect {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mason__img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.masonary__cover {
    height: 100vh;
    overflow: hidden;
}

.iti-flag {
    display: none;
}

.profile__form {
    text-align: center;
    h6 {
        font-family: $primary_font_family--bold;
        font-size: 22px;
        margin: 20px 0;
    }
    p {
        color: #5c6b7e;
        font-size: 14px;
    }
}

.avatar__file--input {
    img {
        width: 98px;
        height: 98px;
        object-fit: cover;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
    span {
        color: #83849a;
        font-size: 14px;
    }
}

.post--minimal {
    display: block;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    .post__flag {
        position: absolute;
        top: 10px;
        right: 10px;
        img {
            border-radius: 50%;
            border: 2px solid #fff;
            width: 21px;
            height: 21px;
        }
    }
    img {
        width: 100%;
        height: 270px;
        object-fit: cover;
        border-radius: 16px;
    }
    h6 {
        color: #283219;
        font-family: $secondary_font_family--bold;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
        @include media("<=large-screen") {
            font-size: 16px;
        }
        @include media("<=small-screen") {
            font-size: 14px;
        }
    }
}
.review__summary {
    display: flex;
    align-items: center;
    span {
        color: #83849a;
        font-size: 14px;
        letter-spacing: 0.25px;
        display: flex;
        align-items: center;
        @include media("<=small-screen") {
            font-size: 12px;
            letter-spacing: 0.01em;
        }
    }
    svg {
        margin-right: 5px;
        margin-bottom: 5px;
        @include media("<=small-screen") {
            width: 14px;
            height: 14px;
        }
    }
    .avg__rating {
        display: flex;
        align-items: center;
    }
    .circle {
        margin: auto 5px;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: #83849a;
    }
}
.img-hover-zoom {
    height: 270px; /* Modify this according to your need */
    overflow: hidden; /* Removing this will break the effects */
    border-radius: 16px;

    &--slowmo {
        img {
            transform-origin: 50% 65%;
            transition:
                transform 5s,
                filter 3s ease-in-out;
            overflow: hidden; /* Removing this will break the effects */
            border-radius: 16px;

            // filter: brightness(150%);
        }
        &:hover {
            img {
                filter: brightness(100%);
                transform: scale(3);
            }
        }
    }
}

.custom--icon {
    content: "";
    width: 24px;
    height: 24px;
    background-color: #283219;
    display: block;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    &--sm {
        width: 14px;
        height: 14px;
        content: "";
        display: block;
    }

    &.go-back {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/a_180/v1706615444/u_arrow-up_kcic8a.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/a_180/v1706615444/u_arrow-up_kcic8a.svg");
        transform: rotate(270deg);
        margin-top: -2px;
    }

    &.ff-follow {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1707306388/Vector_14_yfo6za.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1707306388/Vector_14_yfo6za.svg");
        width: 20px;
        height: 16px;
    }

    &.share {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1707306137/Vector_eyjwjb.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1707306137/Vector_eyjwjb.svg");
    }

    &.back-arrow {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1707306171/Vector_n7vbwb.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1707306171/Vector_n7vbwb.svg");
    }

    &.save-post {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1707306206/Vector_xoo7pk.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1707306206/Vector_xoo7pk.svg");
        width: 16px;
        height: 16px;
    }

    &.heart {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1707306242/Vector_gl7i76.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1707306242/Vector_gl7i76.svg");
        width: 16px;
        height: 16px;
    }

    &.calender {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486119/Vector_1_z8qad9.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486119/Vector_1_z8qad9.svg");
        background-color: #8de10e;
    }
    &.location {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706487515/Vector_8_xjqr5m.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706487515/Vector_8_xjqr5m.svg");
        background-color: #8de10e;
    }
    &.bank-note {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486208/Banknote_2_xzoija.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486208/Banknote_2_xzoija.svg");
        background-color: #8de10e;
    }
    &.airplane {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486122/Vector_2_gcxcnz.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486122/Vector_2_gcxcnz.svg");
        background-color: #8de10e;
        width: 16px;
        height: 16px;
        &--lg {
            mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706500839/Vector_9_ik6g82.svg");
            -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706500839/Vector_9_ik6g82.svg");
            background-color: #8de10e;
            width: 20px;
            height: 20px;
        }
    }
    &.mountain {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486119/Vector_3_vvf3ql.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486119/Vector_3_vvf3ql.svg");
        background-color: #8de10e;
    }
    &.boat {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486118/Vector_4_xdakry.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486118/Vector_4_xdakry.svg");
        background-color: #8de10e;
    }
    &.swimming {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486121/Vector_5_xci6xm.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486121/Vector_5_xci6xm.svg");
        background-color: #8de10e;
    }

    &.big-lock {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486124/Vector_6_gl1vnk.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486124/Vector_6_gl1vnk.svg");
        background-color: #8de10e;
    }
    &.add-new {
        mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486123/Vector_7_zporod.svg");
        -webkit-mask-image: url("https://res.cloudinary.com/metacare/image/upload/v1706486123/Vector_7_zporod.svg");
        background-color: #8de10e;
        width: 17px;
        height: 17px;
    }
}

.icon__textpair {
    color: #626374;
    // font-family: $primary_font_family--light;
    font-size: 12px;
    letter-spacing: 0.015em;
    display: flex;
    align-items: center;
    &--group {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        @include media("<=small-screen"){
            gap: 10px;
        }
    }
    .custom--icon {
        background-color: #a7d267;
        margin-right: 4px;
        margin-bottom: 2px;
    }
}

.info-pill {
    border-radius: 18px;
    background: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0 12px;
    &--group {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        gap: 9px;
    }
    span {
        color: #5c6b7e;
        font-size: 12px;
        letter-spacing: 0.15px;
        @include media("<=small-screen") {
            font-size: 10px;
        }
    }
    .custom--icon {
        margin-right: 5px;
        width: 16px;
        height: 16px;
    }
}

.buy__container {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    
    .buy__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        background: #fafafa;
        width: 100%;
        padding: 1rem;
        text-align: center;
        p {
            font-size: 12px;
            letter-spacing: 0.15px;
            line-height: 18px;
            color: #626374;
            margin: 0;
        }
        button {
            font-size: 14px;
            height: auto;
        }
    }
}

.itinerary__cover {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.itinerary__overview {
    padding: 20px 0;
    h6.heading2 {
        font-size: 22px !important;
    }
}

// .bucket__group {
//     height: 180px;
//     border-radius: 12px;
//     width: 100%;
//     overflow: hidden;
//     .row{
//         height: 100%;
//     }
//     .col {
//         padding: 0;
//         img {
//             width: 100%;
//             height: auto;
//         }
//     }
// }

.bucket__group {
    display: flex;
    flex-wrap: wrap;
    // width:400px;
    height: 180px;
    border-radius: 12px;
    width: 100%;
    overflow: hidden;
    @include media("<=small-screen") {
        height: 120px;
    }
    span {
        min-width: 1%;
        flex: 1 1;
        img {
            object-fit: cover;
            height: 100%;
        }
    }
}

.lite__h3p,
.txt__layer {
    h3 {
        font-family: $secondary_font_family--bold;
        font-weight: 700;
        font-size: 18px;
        color: $black__theme_color;
        letter-spacing: 0.15px;
        @include media("<=small-screen") {
            font-size: 14px;
        }
    }
    p {
        font-family: $secondary_font_family--light;
        font-size: 18px;
        color: #5c6b7e;
        @include media("<=small-screen") {
            font-size: 12px;
        }
    }
    &--headline {
        p {
            font-size: 14px;
            color: $black__theme_color;
            @include media("<=small-screen") {
                font-size: 12px;
            }
        }
    }
}
.txt__layer {
    margin-top: 2rem;
    @include media("<=small-screen") {
        margin-top: 1rem;
    }
    p {
        font-size: 12px;
    }
}
.user__badge {
    position: absolute;
    bottom: 0;
    right: 0;
    @include media("<=small-screen") {
        left: 0;
        svg {
            width: 70%;
        }
    }
}
.profile--picture {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    img {
        width: 118px;
        height: 118px;
        object-fit: cover;
        border-radius: 50%;
        @include media("<=small-screen") {
            width: 80px;
            height: 80px;
        }
    }
}

#profileHeader {
    align-items: center;
    padding: 2rem 0;
    @include media("<=small-screen") {
        align-items: start;
    }
}

.slick-dots {
    text-align: left;
    margin-bottom: -1rem;
    li {
        margin: 0;
        button::before {
            color: #dcfbae;
            opacity: 0.8;
            &.active {
                color: $black__theme_color;
            }
        }
    }
}

.feed--container {
    padding: 0;
}

.itinenary__wrapper {
    padding: 0 3rem;
    @include media("<=medium-screen") {
        padding: 0 1rem;
    }
    @include media("<=small-screen") {
        padding: 0 1rem;
    }
}

.post__author {
    display: flex;
    &.columns {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        h6 {
            color: #fff !important;
            // margin-bottom: 15px;
        }
        p {
            font-family: $primary_font_family--lighter !important;
            color: #F3F4FA !important;
        }
        .author__txt h6 {
            margin-bottom: 12px;
        }
    }
    .author__img {
        margin-right: 10px;
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    .author__txt {
        h6 {
            color: $black__theme_color;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            margin-bottom: 0;
        }
        p {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            color: #83849a;
            margin: 0;
        }
    }
}

.itineray__main {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 65vh;
    border-radius: 16px 16px 0px 0px;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: -90px;

    &--top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        padding: 24px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        &.no--bg {
            background: transparent;
        }
        .icon--btn {
            margin-right: 0;
        }
        .custom--icon {
            background-color: #fff;
        }
    }

    &--bottom {
        display: block;
        padding: 24px;
        margin-top: auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        &.card--view {
            padding-bottom: 35%;
        }
        &--actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
.sp__pill {
    background: #f9fff1;
    border-radius: 4px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    span {
        color: $black__theme_color;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
    }
    .custom--icon {
        background-color: $black__theme_color;
        margin-right: 5px;
        margin-bottom: 2px;
    }
}

.post__intro {
    &.padded {
        padding: 24px 0;
    }
    &.inverse {
        h2 {
            color: #fff;
        }
        .icon__textpair {
            span {
                color: #fff;
            }
            .custom--icon {
                background-color: #fff;
            }
        }
    }
}

.itineray__card--view {
    &.inverse--heading {
        margin-top: 1.5rem;
        position: fixed;
        width: 100%;
        top: 55%;
        left: 0;
        z-index: 1;
        h3 {
            color: #fff;
            padding: 0 24px;
        }
        .buy__container {
            height: auto;
        }
    }
}

.itinerary__group {
    &--wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        overflow-x: scroll;
        height: 250px;
        margin-top: 24px;
        gap: 16px;
        .itinerary__card {
            background: #fff;
            height: auto;
            width: 260px;
            border-radius: 16px;
            padding: 16px;
            border: 0.75px solid #f0f0f0;
            box-shadow: 4px 4px 15px 0px #0000000d;
            .heading--grp {
                span {
                    font-family: $primary_font_family--light;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.04em;
                    color: #626374;
                }
                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    color: $black__theme_color;
                }
            }
        }
    }
}

.act__symbol {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &--cont {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #edfed3;
        margin-right: 4px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }
    span {
        //styleName: Webapp_/Header/H6;
        font-family: $secondary_font_family--bold;
        font-size: 14px;
        // font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        // text-align: left;
    }
}

.sm__txt {
    line-height: 20px;
    letter-spacing: 0em;
    /* text-decoration: underline; */
    color: $black__theme_color;
    cursor: pointer;
    width: fit-content;
    font-size: 12px;
    border-bottom: 1px solid $black__theme_color;
}

.render__wrapper {
    margin-top: 3rem;
    @include media("<=small-screen") {
        margin-top: 1.5rem;
    }
}

.edit__profile {
    &--form {
        p {
            font-family: $primary_font_family--light;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: #83849a;
        }
    }
    &--header {
        text-align: center;
        h6 {
            font-family: $secondary_font_family--bold;
            font-size: 22px;
            letter-spacing: 0em;
            color: #435429;
        }
        .profile__pic--edit {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 1rem 0;
            position: relative;
            img {
                width: 98px;
                height: 98px;
                border-radius: 50%;
            }
            .edit__trigger {
                position: absolute;
                left: calc(50% - 20px);
                bottom: -20px;
       
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #A7D267;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.edit__profile--row{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    h6 {
        color: #283219;
        font-family: $secondary_font_family--bold;
        font-size: 14px;
        letter-spacing: 0.015em;
    }
    .field--grp {
        margin-left: auto;
        margin-right: 10px;
        p {
            margin-bottom: 0;
            color: #283219;
            font-size: 14px;
            span {
                font-size: 10px;
            }
        }
    }
    svg {
        cursor: pointer;
    }
}

.bucket__list {
    &--img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 8px;

    }
}

.save__heading {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h6 {
        font-family: $secondary_font_family--bold;
        font-size: 18px;
        color: $black__theme_color;
    }
    .close {
        margin-top: -10px;
    }
    &--p {
        align-items: center;
        padding: 15px 0;
        p {
            margin: 0;
            // font-family: $primary_font_family--light;
            color: $black__theme_color;
            font-size: 14px;
            // font-weight: 400;
        }
        .btn__collection {
            display: flex;
            align-items: center;
            width: 100%;
            cursor: pointer;
            justify-content: flex-end;
            svg {
                margin-right: 8px;
            }
            span {
                font-size: 12px;
                color: $black__theme_color;
            }
        }
    }
}

.bucket__list {
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    background: #fff;
    padding: 12px;
    margin: 0;
    margin-bottom: 10px;
    align-items: center;
    .named__collection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10px;
        h6 {
            font-family: $secondary_font_family--bold;
            color: $black__theme_color;
            font-size: 14px;
        }
        p {
            display: flex;
            margin: 0;
            .custom--icon {
                margin-right: 4px;
            }
            span {
                font-size: 12px;
                color: #83849A;
            }

        }
    }
}

.time {
    text-align: right;
}

.smart--container {
    padding: 0 24px;
}

.bottom__overlay {
    [data-rsbs-overlay]{
        overflow: hidden;
    }
}

.explore__post {
    height: 100vh;
}

.story__next,
.story__prev {
    position: absolute;
    display: block;
    // border: 1px solid #fff;
    width: 20vw;
    height: 100vh;
    top: 0;
    cursor: pointer;
}
.story__prev {
    left: 0;
}
.story__next {
    right: 0;
}

.story-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    &--item {
        img{
            height: 100vh;
            width: 100%;
            object-fit: cover;
        }
    }
}

.story__heading {
    position: absolute;
    top: 60px;
    left: 24px;
    padding-right: 24px;
    color: #fff;
    // 308307854686
    @include media(">=medium-screen"){
        padding-left: 24px;
    }
    h2 {
        //styleName: Webapp_/Header/H4;
        font-family: $secondary_font_family--medium;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.015em;
    }
    p {
        //styleName: Webapp_/Body Text/P3;
        // font-family: $primary_font_family;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.015em;
    }
}

.story__footer {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    bottom: 0;  
    padding: 24px;
    min-height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    // .footer__wrapper {
    //     @include media("<=xtra-large-screen"){
    //         width: 30%;
    //     }
    //     @include media(">=large-screen"){
    //         width: 40%;
    //     }
    // }
}

.blurr--all {
    .time, .price, .heading--grp p, .h3-text{
        filter: blur(5px);
    }

}

div[data-rsbs-backdrop]{
    top: 0 !important;
}
// {

// }
.fixed-top {
    z-index: 2;
}

.saved__collection{
    position: absolute;
    top: 0;
    width: 100%;
    background: #F9FFF1;
    padding: 20px;
    .bucket__list {
        background: transparent;
        border: 0;
    }
}